In [1]:
import math
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('75000-out2-binary.csv')

In [3]:
item1_name = 'Chocolate Coffee'
item2_name = 'Chocolate Cake'

selection = data[[item1_name,
                  item2_name]]

In [5]:
item1_count = selection[item1_name] == 1
item2_count = selection[item2_name] == 1

In [19]:
f = selection.groupby([item1_count,
                       item2_count]).count()
f

                                 Chocolate Coffee  Chocolate Cake
Chocolate Coffee Chocolate Cake
False            False                      65802           65802
                 True                        2962            2962
True             False                       2933            2933
                 True                        3303            3303

In [18]:
print(data['Chocolate Coffee'].corr(data['Chocolate Cake']))
print(data['Chocolate Cake'].corr(data['Chocolate Coffee']))

0.485566492528
0.485566492528

In [12]:
f00 = f[item1_name][0][0]
f01 = f[item1_name][0][1]
f10 = f[item2_name][1][0]
f11 = f[item2_name][1][1]
f1p = f11 + f10
fp1 = f11 + f01
f0p = f01 + f00
fp0 = f10 + f00

In [22]:
print((f11 * f00 - f10 * f01)/(math.sqrt(f1p * fp1 * f0p * fp0))) #corrcoef for rule 1
print((f11 * f00 - f01 * f10)/(math.sqrt(fp1 * f1p * fp0 * f0p))) #corrcoef for rule 2

0.485566492528
0.485566492528