In [2]:
import math
import numpy as np
import pandas as pd

from sklearn.metrics.pairwise import cosine_similarity

In [3]:
data = pd.read_csv('75000-out2-binary.csv')

In [4]:
data.head()

,Transaction Number,Chocolate Cake,Lemon Cake,Casino Cake,Opera Cake,Strawberry Cake,Truffle Cake,Chocolate Eclair,Coffee Eclair,Vanilla Eclair,...,Lemon Lemonade,Raspberry Lemonade,Orange Juice,Green Tea,Bottled Water,Hot Coffee,Chocolate Coffee,Vanilla Frappuccino,Cherry Soda,Single Espresso
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2,3,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,4,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,5,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0

In [5]:
item1_name = 'Cheese Croissant'
item2_name = 'Orange Juice'

selection = data[[item1_name,
                  item2_name]]

In [12]:
item1_count = selection[item1_name] == 1
item2_count = selection[item2_name] == 1

In [19]:
f = selection.groupby([item1_count,
                       item2_count]).count()
print(f)

                               Cheese Croissant  Orange Juice
Cheese Croissant Orange Juice
False            False                    65193         65193
                 True                      3641          3641
True             False                     2936          2936
                 True                      3230          3230

In [23]:
f00 = f[item1_name][0][0]
f01 = f[item1_name][0][1]
f10 = f[item2_name][1][0]
f11 = f[item2_name][1][1]

print(f00)
print(f01)
print(f10)
print(f11)

65193
3641
2936
3230

In [26]:
f1p = f11 + f10
fp1 = f11 + f01
f0p = f01 + f00
fp0 = f10 + f00

print(f1p)
print(fp1)
print(f0p)
print(fp0)

6166
6871
68834
68129

In [9]:
n = f1p + f0p
print(n)

n = fp1 + fp0
print(n)

75000
75000

In [10]:
s = f11 / n
print(s)

c = f11 / f1p
print(c)

0.0430666666667
0.52384041518

In [11]:
lift = c / (fp1 / n)
print(lift)

I = n*f11 / (f1p * fp1)
print(I)

5.71794951805
5.71794951805

In [12]:
s_a = f1p / n
s_b = fp1 / n
s_ab = f11 / n

c_ab = s_ab / s_a
c_ba = s_ab / s_b

IS = s_ab / (math.sqrt(s_a * s_b))
print(IS)

IS = math.sqrt(c_ab * c_ba)
print(IS)

0.496238879886
0.49623887988604926

In [13]:
x = selection[item1_name]
y = selection[item2_name]

cos_xy = np.dot(x,y) / (np.linalg.norm(x) * np.linalg.norm(y))
print(cos_xy)

cos_xy = cosine_similarity(selection[item1_name].values.reshape(1, -1),
                           selection[item2_name].values.reshape(1, -1)).ravel()[0]
print(cos_xy)

0.496238879886
0.496238879886